<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


   <bean id="ptrl" class="com.kuu.comp.PetrolEngine"/>
   <bean id="dsl" class="com.kuu.comp.DiselEngine"/>
   <bean id="cng" class="com.kuu.comp.CNGEngine"/>
   
   
   <bean id="vl" class="com.kuu.comp.Vehicle">
   <property name="engine" ref="cng"></property>
   </bean>
   
   
   


</beans>
