<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="dtdc" class="com.kuu.comp.DTDC"/>
    <bean name="blue" class="com.kuu.comp.BlueKart"/>
    

   <bean name="flkt" class="com.kuu.comp.Flipkart">
     <property name="courier" ref="dtdc"></property>
   </bean>
   

</beans>
